body {
    color: #2E2F42;
    background-color: #FFFFFF;
}

.logo {
    color: #4D5AE5;
}

.list {
    list-style: none;
}

.contact-nav .link {
    color: #434455;
}

.contact-nav .link:hover {
    color: #404BBF;
}

.site-nav .link:hover {
    color: #404BBF;
}